.FilterItemList {
    text-decoration: none;
    display: flex;
    background-color: palevioletred;
    color: black;
    border: 1px solid black;
    justify-content: center;
    margin: 3px;
    padding: 3px;
    align-items: end;
    font-family: 'Rubik', sans-serif;
}
#dropdown-basic {
    display: flex;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* You can adjust the height as needed */
  }