div {
    text-align: center;
  }

  
  h1 {
    font-size: 30px;
    color: red;
    margin: 10px;
    background-color: rgb(248, 206, 189);
    border-radius: 10px;
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
  }
  
  .HomeLink {
    font-size: 18px;
    color: #007bff;
    margin-top: 20px;
    display: block;
    text-decoration: none;
  }
  
  .HomeLink a {
    text-decoration: none;
  }
  